*.o
*.a
*.so
*.dylib
*.dll
*.exe

*/dataset-algorithms/*/iris_mlp
*/dataset-algorithms/*/IAES_monitor
*/dataset-algorithms/*/IAES-monitor-MLP
*/dataset-algorithms/*/*.out
*/dataset-algorithms/*/*.bin
*/dataset-algorithms/*/build/
*/dataset-algorithms/*/bin/

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*/venv/
*/env/

.vscode/
.idea/
.DS_Store

build/
*/build/
bin/
*/bin/

datasets/*
*.train
