output_rpi_image/
output_rt_image/

onnxruntime-linux-aarch64-1.17.1/

datasets/*

*.train
*.test

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
*/venv/
*/env/

.vscode/
.idea/
.DS_Store

#model files
*/benchmarks/*/model/*.net
*/benchmarks/*/model/*.genann
*/benchmarks/*/model/*.onnx
*/benchmarks/*/model/*.tflite
*/benchmarks/*/model/*.ncnn.param
*/benchmarks/*/model/*.ncnn.bin
*/benchmarks/*/model/*.h

#binarios
*/benchmarks/*/benchmark_*
*/benchmarks/*/gen_models
*/benchmarks/*/train_models

#model data
*/benchmarks/*/model/test_data.txt
#*/benchmarks/*/model/training_metrics.json
*/benchmarks/*/model/*_threshold.txt
*/benchmarks/*/model/test_images_*.bin
*/benchmarks/*/model/test_labels.bin
*/benchmarks/*/latencies/

build/
**/build/
**/build_native/
bin/
**/bin/
