[Unit]
Description=CMLLES Machine Learning Benchmarks
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cmlles_tests/run_benchmarks.sh
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
